*{margin: 0;padding: 0;}
html{ font-family: "Microsoft YaHei"; color:#333; font-size:100px;}
html,body{width:100%;min-width:7.5rem;height:100%;background: #f4f4f4;}
li{ list-style:none; }
a{ text-decoration:none; color:#333; }
a img{ border:0; }
img{ vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{ *zoom:1; }
.clearfix:after{ content:""; display:block; clear:both; }
.fl{float: left}
.fr{float: right}
input {/*-webkit-appearance:none;*/outline: none}
.main{width: 7.5rem;margin: 0 auto}
.zg-wrap{margin: 0 auto;width: 7.5rem;}

header {
    width: 7.5rem;
    height: .8rem;
    background: #f2f2f2;
}
header a {
    font:700 .2rem/.4rem "microsoft yahei";
    color:#fff;
}
header a img {
    float: left;
}
header .logo {
    display: block;
    float: left;
    width: 2rem;
    height: .36rem;
    margin-top: .2rem;
    margin-left: .3rem;
}
header .zgfb {
    display: block;
    float: right;
    width: 1.15rem;
    height: .36rem;
    margin-right: .3rem;
    margin-top: .2rem;
}
header .logo img {
    width: .75rem;
    height: .34rem;
    margin-right: .1rem;
}
header .zgfb img {
    width: .27rem;
    height: .24rem;
    margin-top: .12rem;
}
header.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -3.75rem;
    z-index: 899;
}
.navbar {
    box-shadow: none;
    background: rgba(70,70,70,0);
}
.navbar.active {
    background: rgb(255,255,255);
    transition: background 3s;
}
.navbar.active a {
    color:#000;
}
/*footer*/
.foot{
    position: fixed;
    bottom:0;
    width:7.5rem;
    height:.9rem;
    overflow: hidden;
    z-index:999;
}
.foot a{
    float: left;
    width:3.75rem;
    font:.26rem/0.9rem 'Microsoft YaHei';
    text-align: center;
}
.foot a:first-child{
    background: #f2f2f2;
    color: #000;
}
.foot a:first-child img {
    width: .47rem;
    height: .4rem;
    margin-right: .1rem;
}
.foot a:last-child{
    background: #dc2f3c;
    color: #fff;
}
.foot a:last-child img {
    width: .3rem;
    height: .38rem;
    margin-right: .1rem;
}


/*m_banner*/
.mban {
    width: 7.5rem;
    height:4.46rem;
    background: url(../images/ban.jpg) no-repeat center top;
    -webkit-background-size: 7.5rem;
    background-size: 7.5rem;
    /* padding-top: 5.24rem; */
   box-sizing: border-box;
}
.mban h1 {
    text-indent: -9999px;
    font-size: .2rem;
}
.maincon{
    width: 7.5rem;
    padding-bottom: 1.2rem;
    height: auto;
    background: #a81100;
} 
.m1 {
    width: 7.5rem;
    height:auto;
    margin-top: -1px;
    padding-top: 1.05rem;
    background: url(../images/m1.jpg) no-repeat center top ;
    -webkit-background-size: 7.5rem 1.05rem;
    background-size: 7.5rem 1.05rem;
}
.m1 .h22{
    font:600 .35rem "microsoft yahei";
	text-align: center;
    color:#ffffff; 
    letter-spacing: .4rem;
    margin-bottom: 0.2rem;
}
.m1con{
    display: flex;
    justify-content: center;
    width:6.79rem;
    height: 2.54rem;
    margin: auto;
    background: url(../images/m1.png) no-repeat center top;
    -webkit-background-size: 6.79rem;
    background-size: 6.79rem;
    box-sizing: border-box;
}
.m1con .m1l{
    width:2.08rem;
    font: 600 .3rem/.8rem "microsoft yahei";
    text-align: center;
    color: #aa1806;
}
.m1con .m1r{
    flex: 1;
    padding-top: 0.1rem;
    padding-right: .04rem;
    box-sizing: border-box;
}
.m1con .m1r p{
    font:400 .18rem "microsoft yahei";
	text-align: left;
    color:#777777; 
    margin: .04rem auto;
}
.m1con .m1r h4{
    font:400 .18rem "microsoft yahei";
	text-align: left;
    color:#9d1407; 
}
.m2{
    margin-top: 0.3rem;
}
.m2 .m2con{
    width: 6.74rem;
    height: 8.39rem;
    padding-top: 0.2rem;
    margin: auto;
    background: #7b1004;
    box-sizing: border-box;
}
.m2 .m2con .m2cont{
    width: 5.79rem;
    height: 7.84rem;
    padding-top: 1.34rem;
    margin: auto;
    background: url(../images/m2.png) no-repeat center top;
    -webkit-background-size: 5.79rem;
    background-size: 5.79rem;
    box-sizing: border-box;
}
.m2 .m2con h2{
    height: 0.92rem;
    background: url(../images/t2.png) no-repeat center top;
    -webkit-background-size: 5.6rem;
    background-size: 5.6rem;
}
.m2cont  ul{
	width: 5.2rem;
	padding:.2rem 0;
	margin: auto;
	margin-bottom: .35rem;
    background: #f5dbbc;
    display: flex;
    justify-content: space-around;
}
.m2cont  ul li{
	width:1.55rem;
	height:1.86rem;
	padding-top: .15rem;
    background:url(../images/item.png) no-repeat center top;
    -webkit-background-size: 1.55rem;
    background-size: 1.55rem;
}
.m2cont  ul li:nth-child(1) h4{
	height:.34rem;
    background:url(../images/p1.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li:nth-child(2) h4{
	height:.34rem;
    background:url(../images/p2.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li:nth-child(3) h4{
	height:.34rem;
    background:url(../images/p3.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li .num{
	font:400 .2rem "microsoft yahei";
	text-align: center;
	color:#fdd8a1;
	margin-top: .06rem;
	margin-bottom: .15rem;
}
.m2cont  ul li .prize{
	font:600 .2rem "microsoft yahei";
	text-align: center;
	color:#fff;
}
.m2cont  ul li .prize strong{
	font-size: .23rem;
	color:#fdd8a1;
}
.lbw{
	position: relative;
	width: 7.01rem;
	height:.92rem;
	margin-bottom: .25rem;
	left: -.59rem;
    background:url(../images/lbw.png) no-repeat center top;
    -webkit-background-size: 7.01rem;
    background-size: 7.01rem;
    display: flex;
}
.lbw .lb{
	width: 2.13rem;
	height:1.19rem;
    background:url(../images/lb.png) no-repeat center top;
    -webkit-background-size: 2.13rem;
    background-size: 2.13rem;
	margin-top: -.28rem;
}
.lbw p{
	font:400 .33rem/.92rem  "microsoft yahei";
	text-align: center;
	color:#fff;
	letter-spacing: .02rem;
	margin-left: -.15rem;
}
.lbw a{
	width: 1.32rem;
	height:.43rem;
	margin-top: .3rem;
    margin-left: .1rem;
    background:url(../images/zx.png) no-repeat center top;
    -webkit-background-size: 1.32rem;
    background-size: 1.32rem;
}
.m2conb{
    width: 6.11rem;
    height: 1.79rem;
    background:url(../images/m2b.png) no-repeat center top;
    -webkit-background-size: 6.11rem;
    background-size: 6.11rem;
    margin:auto;
    padding-top: 0.3rem;
    position: relative;
    left: -.18rem;
}
.m2conb .cyj{
    height: .39rem;
    background:url(../images/cyj.png) no-repeat center top;
    -webkit-background-size: 1.31rem;
    background-size: 1.31rem;
}
.m2conb p{
	font:400 .26rem  "microsoft yahei";
	text-align: center;
	color:#fff;
	letter-spacing: .04rem;
}
.m2conb p strong{
    color: #fdbe64;
    font-size: .3rem;
}
.m3{
    margin-top: 0.3rem;   
   }
.m3 h2{
height: .95rem;
background:url(../images/t3.png) no-repeat center top;
-webkit-background-size: 6.37rem;
background-size: 6.37rem;
margin-bottom: 0.3rem;
}
.m3 .tab{
    width: 6.8rem;
    height: auto;
    margin: auto;
    background: #7b1004;
    padding: .2rem 0;
}
.m3 .tab .tab_head{
    display: flex;
    width: 6.15rem;
    font: 400 .35rem "microsoft yahei";
    text-align: center;
    color: #f9d5a1;
    margin: auto;
    margin-bottom: 0.2rem;
}
.m3 .tab .tab_head p{
    color: #f9d5a1;
	font:400 .2rem "microsoft yahei";
    text-align: center;
}
.m3 .tab .tab_head p:nth-child(1){
	width: 36%;
}
.m3 .tab .tab_head p:nth-child(2){
	width: 26%;
}
.m3 .tab .tab_head p:nth-child(3){
	width: 22%;
}
.m3 .tab .tab_head p:last-child{
	width: 16%;
}
.m3  .tabw{
    width: 6.45rem;
    max-height: 5.4rem;
    padding: .2rem 0;
    background: #f5dbbc;
    margin: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}
table{
    width: 6.15rem;
    margin: auto;
	background: #fff;
	border-collapse: collapse;
	box-sizing: border-box;
	position: relative;
}
table::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: .03rem;
	background: #f96c29;
}
table td{
	border: 1px solid #f7f7f7;
	color: #000;
	font:400 .2rem "microsoft yahei";
	text-align: center;
    padding: .04rem .1rem;
}
table tr td:nth-child(1){
    width: 36%;
}
table tr td:nth-child(2){
    width: 26%;
}
table tr td:nth-child(3){
    width: 22%;
}

table td.last{
    border-right: none;
    width: 16%;
}

table td a{
	display: inline-block;
	border-radius: .1rem;
	padding: .1rem;
	font:400 .2rem "microsoft yahei";
	color: #fff;
	text-align: center;
	background: #af1e06;
}
.m4{
    margin: auto;
    margin-top: 0.3rem;  
    width: 6.85rem;
    padding: .2rem 0;
    background: #f3dfae; 
   }
.m4 h2{
    height: .68rem;
    background:url(../images/t4.png) no-repeat center top;
    -webkit-background-size: 5rem;
    background-size: 5rem;
    margin-bottom: 0.3rem;
}  
.m4 .formw{
    width: 6.5rem;
    margin: auto;
    background: #b20202;
    padding: .15rem 0;
}
.m4 .formw h4{
    height: .41rem;
    background:url(../images/yyue.png) no-repeat center top;
    -webkit-background-size: 3.35rem;
    background-size: 3.35rem;
    margin-bottom: 0.1rem;
}
.m4 .time{
    font:400 .2rem  "microsoft yahei";
	text-align: center;
    color:#f3dfae;
}
.formw .ll{
	width: 2.8rem;
	height: 1px;
	margin: auto;
	margin-top: .1rem;
	background: #f3dfae;
}
select,input{
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   border: none;
  }
  
  .form input::-webkit-input-placeholder { /* WebKit browsers */
      color: #999;
  }
  
  .form input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #999;
  }
  
  .form input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #999;
  }
  .form{
      width: 5rem;
      margin: auto;
  }
  .form p{
      width: 100%;
      height: 0.6rem;
      background: #f3dfae;
      margin-top: .15rem;
      display: flex;
  }
  .form p span{
      width: 1.5rem;
      font:400 .25rem/.6rem "microsoft yahei";
      color: #b20202;
      text-align: center;
  }
  .form p input,.form p select{
      width: 2.55rem;
      height: .4rem;
      margin-top: .1rem;
      font:400 .25rem/.4rem "microsoft yahei";
      color: #999;
      background: #fff;
      text-indent: .1rem;
  }
  .form p input#yzm{
      width: 2rem;
  }
  .form p a{
      width:1.2rem;
      height: .4rem;
      font-size: .2rem;
      text-align: center;
      background: #fff;
      margin-top: .1rem;
      margin-left: 0.2rem;
      line-height: .4rem;
      color: #b20202;
  }
  .form #submit{
      display: block;
      width: 2.17rem;
      height: .53rem;
      margin: auto;
      margin-top: .2rem;
      background:url(../images/clyy.png) no-repeat center top;
      -webkit-background-size: 2.17rem;
      background-size: 2.17rem;
  }
.m5{
 margin-top: 0.3rem;   
}
.m5 h2{
    height: .97rem;
    background:url(../images/t5.png) no-repeat center top;
    -webkit-background-size: 6.48rem;
    background-size: 6.48rem;
    margin-bottom: 0.3rem;
}
.m5 ul{
    width: 6.92rem;
    height: 2.53rem;
    padding: .5rem .25rem;
    background:url(../images/m5.png) no-repeat center top;
    -webkit-background-size: 6.92rem;
    background-size: 6.92rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.m5 ul li{
    width: 2.06rem;
    height: 1.51rem;
    background:url(../images/items.png) no-repeat center top;
    -webkit-background-size: 2.06rem;
    background-size: 2.06rem;
    padding-top: 0.18rem;
    box-sizing: border-box;
}
.m5 ul li h4{
    font:400 .18rem  "microsoft yahei";
	text-align: center;
    color:#fff;
    margin-bottom: 0.1rem;
}
.m5 li:nth-child(1) p{
	height: .86rem;
    background: url(../images/txt1.png) no-repeat center top;
    -webkit-background-size: 1.56rem;
    background-size: 1.56rem;
}
.m5 li:nth-child(2) p{
	height: .86rem;
    background: url(../images/txt2.png) no-repeat center top;
    -webkit-background-size: 1.56rem;
    background-size: 1.56rem;
}
.m5 li:nth-child(3) p{
	height: .85rem;
    background: url(../images/txt3.png) no-repeat center top;
    -webkit-background-size: 1.55rem;
    background-size: 1.55rem;
}
.m6{
    margin-top: 0.3rem;
}
.m6 h2{
    height: .97rem;
    background: url(../images/t6.png) no-repeat center top;
    -webkit-background-size: 6.48rem;
    background-size: 6.48rem;
    margin-bottom: 0.2rem;
}
.m6 .m6con{
    width: 6.7rem;
    height: 3.18rem;
    margin: auto;
    padding-top: 0.3rem;
    background: url(../images/m6.png) no-repeat center top;
    -webkit-background-size: 6.7rem;
    background-size: 6.7rem;
    box-sizing: border-box;
}
.m6 .m6con h4{
    font:400 .22rem  "microsoft yahei";
	text-align: center;
    color:#fff;
    letter-spacing: .02rem;
    margin-bottom: 0.1rem;
}
.m6 .t7{
    height: .55rem;
    background: url(../images/t7.png) no-repeat center top;
    -webkit-background-size: 4.41rem;
    background-size: 4.41rem;
    margin-bottom: 0.1rem;
}
.m6 .row1{
    font:400 .24rem  "microsoft yahei";
	text-align: left;
    color:#fff;
    display: flex;
    /* justify-content: center; */
}
.m6 .row1 span{
    width: 1.2rem;
    margin-left: 1rem;
}
.m6con a{
	display: block;
	width: 1.11rem;
	height: .39rem;
    margin: auto;
    margin-top: 0.1rem;
    background:url(../images/xqzx.png) no-repeat center top;
    -webkit-background-size: 1.11rem;
    background-size: 1.11rem;
}
.m6 .row1 p {
    border-bottom: 1px solid #fff;
}