*{margin: 0;padding: 0;}
html{ font-family: "Microsoft YaHei"; color:#333; font-size:100px;}
html,body{width:100%;min-width:7.5rem;height:100%;background: #f4f4f4;}
li{ list-style:none; }
a{ text-decoration:none; color:#333; }
a img{ border:0; }
img{ vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{ *zoom:1; }
.clearfix:after{ content:""; display:block; clear:both; }
.fl{float: left}
.fr{float: right}
input {/*-webkit-appearance:none;*/outline: none}
.main{width: 7.5rem;margin: 0 auto}
.zg-wrap{margin: 0 auto;width: 7.5rem;}



/*m_banner*/
.mban {
    width: 7.5rem;
    height:4.46rem;
    background: url(../images/ban.jpg) no-repeat center top;
    -webkit-background-size: 7.5rem;
    background-size: 7.5rem;
    /* padding-top: 5.24rem; */
   box-sizing: border-box;
}
.mban h1 {
    text-indent: -9999px;
    font-size: .2rem;
}
.miancon{
    width: 7.5rem;
    height: auto;
    background: #a81100;
} 
.m1 {
    width: 7.5rem;
    height:auto;
    margin-top: -1px;
    padding-top: 1.05rem;
    background: url(../images/m1.jpg) no-repeat center top ;
    -webkit-background-size: 7.5rem 1.05rem;
    background-size: 7.5rem 1.05rem;
}
.m1 .h22{
    font:600 .35rem "microsoft yahei";
	text-align: center;
    color:#ffffff; 
    letter-spacing: .4rem;
    margin-bottom: 0.2rem;
}
.m1con{
    display: flex;
    justify-content: center;
    width:6.79rem;
    height: 2.54rem;
    margin: auto;
    background: url(../images/m1.png) no-repeat center top;
    -webkit-background-size: 6.79rem;
    background-size: 6.79rem;
    box-sizing: border-box;
}
.m1con .m1l{
    width:2.08rem;
    font: 600 .3rem/.8rem "microsoft yahei";
    text-align: center;
    color: #aa1806;
}
.m1con .m1r{
    flex: 1;
    padding-top: 0.1rem;
}
.m1con .m1r p{
    font:400 .18rem "microsoft yahei";
	text-align: left;
    color:#777777; 
    margin: .04rem auto;
}
.m1con .m1r h4{
    font:400 .18rem "microsoft yahei";
	text-align: left;
    color:#9d1407; 
}
.m2{
    margin-top: 0.3rem;
}
.m2 .m2con{
    width: 6.74rem;
    height: 8.39rem;
    padding-top: 0.2rem;
    margin: auto;
    background: #7b1004;
    box-sizing: border-box;
}
.m2 .m2con .m2cont{
    width: 5.79rem;
    height: 7.84rem;
    padding-top: 1.34rem;
    margin: auto;
    background: url(../images/m2.png) no-repeat center top;
    -webkit-background-size: 5.79rem;
    background-size: 5.79rem;
    box-sizing: border-box;
}
.m2 .m2con h2{
    height: 0.92rem;
    background: url(../images/t2.png) no-repeat center top;
    -webkit-background-size: 5.6rem;
    background-size: 5.6rem;
}
.m2cont  ul{
	width: 5.2rem;
	padding:.2rem 0;
	margin: auto;
	margin-bottom: .35rem;
    background: #f5dbbc;
    display: flex;
    justify-content: space-around;
}
.m2cont  ul li{
	width:1.55rem;
	height:1.86rem;
	padding-top: .15rem;
    background:url(../images/item.png) no-repeat center top;
    -webkit-background-size: 1.55rem;
    background-size: 1.55rem;
}
.m2cont  ul li:nth-child(1) h4{
	height:.34rem;
    background:url(../images/p1.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li:nth-child(2) h4{
	height:.34rem;
    background:url(../images/p2.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li:nth-child(3) h4{
	height:.34rem;
    background:url(../images/p3.png) no-repeat center top;
    -webkit-background-size: 1.12rem;
    background-size: 1.12rem;
}
.m2cont  ul li .num{
	font:400 .2rem "microsoft yahei";
	text-align: center;
	color:#fdd8a1;
	margin-top: .06rem;
	margin-bottom: .15rem;
}
.m2cont  ul li .prize{
	font:600 .2rem "microsoft yahei";
	text-align: center;
	color:#fff;
}
.m2cont  ul li .prize strong{
	font-size: .23rem;
	color:#fdd8a1;
}
.lbw{
	position: relative;
	width: 7.01rem;
	height:.92rem;
	margin-bottom: .25rem;
	left: -.59rem;
    background:url(../images/lbw.png) no-repeat center top;
    -webkit-background-size: 7.01rem;
    background-size: 7.01rem;
    display: flex;
}
.lbw .lb{
	width: 2.13rem;
	height:1.19rem;
    background:url(../images/lb.png) no-repeat center top;
    -webkit-background-size: 2.13rem;
    background-size: 2.13rem;
	margin-top: -.28rem;
}
.lbw p{
	font:400 .33rem/.92rem  "microsoft yahei";
	text-align: center;
	color:#fff;
	letter-spacing: .02rem;
	margin-left: -.15rem;
}
.lbw a{
	width: 1.32rem;
	height:.43rem;
	margin-top: .3rem;
    margin-left: .1rem;
    background:url(../images/zx.png) no-repeat center top;
    -webkit-background-size: 1.32rem;
    background-size: 1.32rem;
}
.m2conb{
    width: 6.11rem;
    height: 1.79rem;
    background:url(../images/m2b.png) no-repeat center top;
    -webkit-background-size: 6.11rem;
    background-size: 6.11rem;
    margin:auto;
    padding-top: 0.3rem;
}
.m2conb .cyj{
    height: .39rem;
    background:url(../images/cyj.png) no-repeat center top;
    -webkit-background-size: 1.31rem;
    background-size: 1.31rem;
}
.m2conb p{
	font:400 .26rem  "microsoft yahei";
	text-align: center;
	color:#fff;
	letter-spacing: 4px;
	margin-left: -15px;
}
.m2conb p strong{
    color: #fdbe64;
    font-size: .3rem;
}
.m5{
 margin-top: 0.3rem;   
}
.m5 h2{
    height: .97rem;
    background:url(../images/t5.png) no-repeat center top;
    -webkit-background-size: 6.48rem;
    background-size: 6.48rem;
    margin-bottom: 0.3rem;
}
.m5 ul{
    width: 6.92rem;
    height: 2.53rem;
    padding: .5rem .25rem;
    background:url(../images/m5.png) no-repeat center top;
    -webkit-background-size: 6.92rem;
    background-size: 6.92rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.m5 ul li{
    width: 2.06rem;
    height: 1.51rem;
    background:url(../images/items.png) no-repeat center top;
    -webkit-background-size: 2.06rem;
    background-size: 2.06rem;
    padding-top: 0.18rem;
    box-sizing: border-box;
}
.m5 ul li h4{
    font:400 .18rem  "microsoft yahei";
	text-align: center;
    color:#fff;
    margin-bottom: 0.1rem;
}
.m5 li:nth-child(1) p{
	height: .86rem;
    background: url(../images/txt1.png) no-repeat center top;
    -webkit-background-size: 1.56rem;
    background-size: 1.56rem;
}
.m5 li:nth-child(2) p{
	height: .86rem;
    background: url(../images/txt2.png) no-repeat center top;
    -webkit-background-size: 1.56rem;
    background-size: 1.56rem;
}
.m5 li:nth-child(3) p{
	height: .85rem;
    background: url(../images/txt3.png) no-repeat center top;
    -webkit-background-size: 1.55rem;
    background-size: 1.55rem;
}
.m6{
    margin-top: 0.3rem;
}
.m6 h2{
    height: .97rem;
    background: url(../images/t6.png) no-repeat center top;
    -webkit-background-size: 6.48rem;
    background-size: 6.48rem;
    margin-bottom: 0.2rem;
}
.m6 .m6con{
    width: 6.7rem;
    height: 3.18rem;
    margin: auto;
    padding-top: 0.3rem;
    background: url(../images/m6.png) no-repeat center top;
    -webkit-background-size: 6.7rem;
    background-size: 6.7rem;
    box-sizing: border-box;
}
.m6 .m6con h4{
    font:400 .22rem  "microsoft yahei";
	text-align: center;
    color:#fff;
    letter-spacing: .02rem;
    margin-bottom: 0.1rem;
}
.m6 .t7{
    height: .55rem;
    background: url(../images/t7.png) no-repeat center top;
    -webkit-background-size: 4.41rem;
    background-size: 4.41rem;
    margin-bottom: 0.1rem;
}
.m6 .row1{
    font:400 .24rem  "microsoft yahei";
	text-align: left;
    color:#fff;
    display: flex;
    /* justify-content: center; */
}
.m6 .row1 span{
    width: 1.2rem;
    margin-left: 1rem;
}
.m6con a{
	display: block;
	width: 1.11rem;
	height: .39rem;
    margin: auto;
    margin-top: 0.1rem;
    background:url(../images/xqzx.png) no-repeat center top;
    -webkit-background-size: 1.11rem;
    background-size: 1.11rem;
}